* {
  margin: 0;
  font-family: "Jost", sans-serif;
}

:root {
  --main: #058acc;
  --orange: #eb7b37;
  --yellow: #fad606;
  --golden: #c6a136;
  --slate: #a2b8c1;
  --footer: #123750;
  --blue-shade: #081a2bcc;
  /* font-size: 1rem; */
}

/* Custom Backgrounds */

.bg-main {
  background: var(--main);
}

.bg-orange {
  background: var(--orange);
}

.bg-yellow {
  background: var(--yellow) !important;
}

.bg-golden {
  background: var(--golden);
}

.bg-slate {
  background: var(--slate);
}

.bg-footer {
  background: var(--footer);
}

/* Custom Colors */

.color-main {
  color: var(--main);
}

.color-orange {
  color: var(--orange);
}

.color-yellow {
  color: var(--yellow);
}

.color-golden {
  color: var(--golden);
}

.color-slate {
  color: var(--slate);
}

.color-light {
  color: #081a2b !important;
}

/* Custom Margins */

.mbo-100 {
  margin-bottom: 100px;
}

.mb-100 {
  margin-bottom: 6.25rem;
}

.mb-80 {
  margin-bottom: 5rem;
}

.mb-64 {
  margin-bottom: 4rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

/* Custom Heights */

.h-10 {
  height: 0.625rem;
}

/* Custom Icons */

.icon {
  height: 1.875rem; /*30px*/
  width: 1.875rem; /*30px*/
}

.icon-lg {
  height: 6.25rem; /*100px*/
  width: 6.25rem; /*100px*/
}

/* Custom Cards */

.card-sm {
  width: 15.625rem; /*250px*/
  height: 15.625rem; /*250px*/
}

/* Custom Font Sizes */

.font-36 {
  font-size: 2.25rem; /*30px*/
}

.font-20 {
  font-size: 20px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-36 {
  font-size: 36px;
}

/*Custom Font Weights */

.font-thin {
  font-weight: 300;
}

.font-semibold {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}

.screen-width {
  max-width: 1248px; /*0 80px*/
}

.screen-padding {
  padding: 0px 16px;
}

.logo {
  width: 9.4375rem; /*151px*/
  height: 3.8125rem; /*61px*/
}

.input-field {
  padding: 1.1875rem 1.25rem 1.1875rem 1.25rem; /*19px 20px 19px 20px*/
  border: 0.0625rem solid lightgray; /*1px*/
  background: #f3f3f3;
  outline: none;
  resize: none;
  margin-bottom: 2.8125rem; /*45px*/
}

.nav-item {
  color: white !important;
  min-width: 7.5rem; /*120px*/
  min-height: 1.625rem; /*26px*/
  font-size: 1.125rem !important; /*18px*/
  text-align: center;
  padding: 0.625rem 0.3125rem; /*10px 5px*/
}

.nav-item:hover {
  background: var(--main);
  color: white;
  cursor: pointer;
}

.banner {
  /* image 43 */
  background: url("/assets/images/bann.png");
  max-width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
}

.banner-inner .navbar {
  position: absolute;
  top: 55px;
  width: 100%;
  padding: 16px 0px;
}

.banner-title {
  font-size: 4.625rem; /*74px*/
  font-weight: 500;
  line-height: 4.625rem; /*107px*/
  letter-spacing: 0.0125rem; /*20000000298023224px*/
  text-align: left;
  color: white;
  max-width: 56.25rem; /*900px*/
  margin-bottom: 12.375rem; /*198px*/
}

.title {
  font-size: 48px;
  font-weight: 400;
  line-height: 4.3125rem; /*69px*/
  letter-spacing: 0.0125rem; /*20000000298023224px*/
  text-align: left;
}

.description {
  font-size: 24px;
  font-weight: 400;
  line-height: 2.1875rem; /*35px*/
  letter-spacing: 0.0125rem; /*20000000298023224px*/
  text-align: left;
}

.about-us {
  margin-top: 5.5625rem; /*89px*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.about-us-left {
  /* padding-right: 141px !important; */
  max-width: 614px;
}

.about-us .about-us-img {
  max-width: 525px;
  max-height: 525px;
  background-size: cover;
}

.tab {
  width: 9.375rem; /*150px*/
  text-align: center;
  border-bottom: 0.125rem solid; /*2px*/
  border-color: gray !important;
  padding-bottom: 10px; /*10px*/
}

.btn {
  min-width: 236px;
  min-height: 52px;
  border-radius: 0px !important;
  font-size: 20px !important;
}

.btn-main {
  color: white !important;
  background-color: var(--main) !important;
}

.btn-main-outline {
  color: black !important;
  border: 1px solid;
  border-color: var(--main) !important;
}

.offerings {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
  display: grid;
  /* grid-auto-flow: dense; */
  /* grid-auto-rows: 300px; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 26px;
}

.offering-card {
  max-width: 300px;
  width: 100%;
  height: 300px;
  background-color: rgba(162, 184, 193, 0.05);
  margin: 13.5px 0px;
  padding: 0px 27px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offering-card-tag {
  width: 150px;
  height: 17.647058486938477px;
}

.offering-card .offering-card-icon {
  width: 160px;
  height: 110px;
  margin-top: 16px;
  margin-bottom: 6px;
}

.card-title {
  font-weight: 600;
  font-size: 20px;
  /* line-height: 29px;
  letter-spacing: 0.20000000298023224px; */
  text-align: center;
  /* white-space: nowrap; */
}

.offering-card .offering-card-description {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  color: gray;
  text-align: center;
}

.industries-card-main {
  width: 460px;
  height: 460px;
  margin: 0px 60px;
  position: relative;
}

.bg-industries-card-common {
  background: var(--blue-shade);
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.20000000298023224px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 96px;
  height: 96px;
}

.industries-card-main .industries-arrow-absolute-position {
  position: absolute;
  top: 30%;
  z-index: 1;
}

.industries-card-main .industries-left-arrow {
  left: -75px;
}

.industries-card-main .industries-right-arrow {
  right: -75px;
}

.industries-card-main .bg-industries-card-main-text {
  width: 100%;
  height: 130px;
  position: absolute;
  bottom: 0px;
}

.industries-card-side {
  width: 350px;
  height: 350px;
  position: relative;
}

.industries-card-side .bg-industries-card-side-text {
  width: 100%;
  height: 103px;
  position: absolute;
  bottom: 0px;
}

.industries-card-side .bg-industries-card-side-shade {
  background: rgba(8, 26, 43, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
}

.bg-industries-card-1 {
  background: url("/assets/images/industries1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-industries-card-2 {
  background: url("/assets/images/industries2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-industries-card-3 {
  background: url("/assets/images/industries3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.partners-img {
  width: 100%;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 31px;
}

.testimonials-card {
  width: 100%;
  max-width: 400px;
  min-height: 497.3614501953125px;
  box-shadow: 0px 0px 10px 0px rgba(162, 184, 193, 0.5);
}

.testimonial-start {
  height: 340.91px;
}

.testimonial-end {
  height: 172.09px;
}

.testimonial-up {
  position: relative;
  top: -50px;
}

.testimonial-socials-down {
  position: relative;
  bottom: -25px;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.content-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.blog-card {
  max-width: 620px;
  margin: auto;
}

.blog-card-body {
  max-width: 504px;
}

.contact-us-form {
  max-width: 453px;
}

.map {
  width: 516px;
  height: 323.1851501464844px;
}

.contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-us-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
}

/* Mobile-specific styles */
@media only screen and (max-width: 767px) {
  /* CSS rules for small screens */

  .mb-100 {
    margin-bottom: 50px;
  }

  .pt-100 {
    padding-top: 50px;
  }

  .mb-80 {
    margin-bottom: 40px;
  }

  .mb-64 {
    margin-bottom: 32px;
  }

  .mb-30 {
    margin-bottom: 15px;
  }

  /*  */
  .font-36 {
    font-size: 16px !important;
  }

  .font-24 {
    font-size: 18px !important;
  }

  .font-20 {
    font-size: 18px !important;
  }

  .font-16 {
    font-size: 14px !important;
  }

  /*  */
  .card-sm {
    width: 131px;
    height: 122px;
  }

  .title {
    font-size: 24px;
    font-weight: 500;
  }

  .description {
    font-size: 18px;
  }

  .banner-title {
    font-size: 36px;
    margin-bottom: 85px;
  }

  .btn-sm {
    min-width: 152px;
  }

  .about-us {
    margin-top: 38px;
    grid-template-columns: 1fr;
  }

  .about-us .about-us-img {
    margin-top: 48px;
    margin-bottom: 48px;
    max-width: 350px;
    max-height: 350px;
    height: 100%;
    width: 100%;
  }

  .offerings {
    grid-template-columns: 1fr 1fr;
    grid-gap: 13.5px;
  }

  .offering-card {
    max-width: 169px;
    height: 184px;
    background-color: rgba(162, 184, 193, 0.05);
  }

  .offering-card-tag {
    width: 84.5px;
    height: 9.94px;
  }

  .offering-card .offering-card-icon {
    width: 90.13px;
    height: 61.97px;
    margin-top: 9px;
    margin-bottom: 3px;
  }

  .card-title {
    font-size: 14px;
    white-space: normal;
  }

  .offering-card .offering-card-description {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    color: gray;
    text-align: center;
    overflow: hidden;
  }

  .industries-card-main {
    width: 236px;
    height: 236px;
  }

  .arrow {
    width: 48px;
    height: 48px;
  }

  .industries-card-main .industries-left-arrow {
    left: -53px;
  }

  .industries-card-main .industries-right-arrow {
    right: -53px;
  }

  .industries-card-main .bg-industries-card-main-text {
    height: 66px;
  }

  .partners-img {
    height: 35px;
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .blog-card {
    max-width: 357px;
  }

  .blogs {
    grid-template-columns: 1fr;
  }

  .blog-read {
    border-bottom: 2px solid var(--main);
    padding-bottom: 10px;
  }

  .content-header {
    grid-template-columns: 1fr;
  }

  .contact-us {
    grid-template-columns: 1fr;
  }

  .contact-us-inner {
    grid-template-columns: 1fr;
    margin-top: 84px;
    margin-bottom: 79px;
  }

  .footer {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* Tablet-specific styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* CSS rules for medium screens */

  .font-36 {
    font-size: 26px;
  }

  .card-sm {
    width: 190px;
    height: 186px;
  }

  .banner-title {
    font-size: 55px;
    margin-bottom: 142.5px;
  }

  .btn-sm {
    min-width: 194px;
  }

  .about-us {
    grid-template-columns: 1fr;
  }

  .offerings {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row dense;
  }

  .about-us .about-us-img {
    max-width: 437.5px;
    max-height: 437.5px;
    height: 100%;
    width: 100%;
  }

  .testimonials {
    grid-template-columns: repeat(2, 1fr);
  }

  .industries-card-main {
    width: 400px;
    height: 400px;
  }

  .industries-card-side {
    width: 300px;
    height: 300px;
  }

  .blog-card {
    max-width: 430px;
  }

  .blogs {
    grid-template-columns: 1fr;
  }

  .contact-us {
    grid-template-columns: 1fr;
  }

  .contact-us-inner {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 84px;
    margin-bottom: 79px;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}
